table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

table tr {
  border-bottom: solid 2px white;
}

table tr:last-child {
  border-bottom: none;
}

table th {
  position: relative;
  text-align: center;
  width: 300px;
  background-color: #52c2d0;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table th:after {
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: calc(50% - 10px);
  right: -10px;
}

table td {
  text-align: left;
  width: 500px;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

.image-first {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.image-lists1 {
  display: flex;
}

.image-lists2 {
  display: flex;
}

.image-lists3 {
  display: flex;
}

.image-list {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
